


.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-weight: 600;
}

.title-logo,
.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}