* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular, Roboto;
}
.right{
    width: 50%;
    display: inline;
    float: left;
}
.left{
    float: right;
    display: inline;
    width: 50%;
}
.error-text{
    color: red;
}