.shopping-cart {
  width: 450px;
}

.cart-image {
  width: 60px;
}

.rounded-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-size: .7rem;
}

.btn-cart {
  border: 1px solid;
  &:hover {
    border: 1px solid #858585;
    color: #858585;
  }
}